amqp==2.5.2
asn1crypto==1.3.0
Babel==2.9.1
billiard==3.6.1.0
blinker==1.4
celery==4.4.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cloud-init==19.3
command-not-found==0.3
configobj==5.0.6
cryptography==3.2
Django==2.2.13
fail2ban==0.9.3
flower==0.9.3
get==2019.4.13
hibagent==1.0.1
idna==2.8
importlib-metadata==1.4.0
Jinja2==2.10.3
jsonpatch==1.24
jsonpointer==2.0
kombu==4.6.7
language-selector==0.1
MarkupSafe==1.1.1
more-itertools==8.1.0
oauthlib==3.1.0
pip-upgrade==0.0.6
post==2019.4.13
prettytable==0.7.2
psycopg2==2.8.4
public==2019.4.13
pyasn1==0.4.8
pycairo==1.18.2
pycparser==2.19
pycurl==7.43.0.4
PyGObject==3.34.0
pyinotify==0.9.6
PyJWT==1.7.1
pyserial==3.4
python-apt==1.1.0b1+ubuntu0.16.4.8
python-debian==0.1.36
python-systemd==231
pytz==2019.3
PyYAML==5.3
query-string==2019.4.13
redis==3.3.11
request==2019.4.13
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
ssh-import-id==5.6
tornado==6.0.3
ufw==0.35
unattended-upgrades==0.1
urllib3==1.25.8
uWSGI==2.0.18
vine==1.3.0
zipp==1.0.0
